body {
    background: #02020B;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

h1 {
    color: #ECE4B7;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 4px;
    font-size: 3rem;
    text-align: center;
}

.container {
    position: relative;
    width: 50%;
    height: 50%;
    display: grid;
    place-items: center;
    border-radius: 2px;
}

.timer {
    width:  50%;
    height:  70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #A491D3;
}

.timer h2 {
    font-family: "Lato", sans-serif;
    letter-spacing: 3px;
    margin: 0;
    font-size: 2rem;
    text-align: center;
}

.timer p {
    font-family: "Lato", sans-serif;
    color: #A491D3;
    font-size: 40px;
}

.timer button {
    margin: 10px;
    height: fit-content;
    font-size: 20px;
    border-radius: 2px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #A491D3;
    color: #A491D3;
    cursor: pointer;
    transition: all ease .3s;
}

.timer button:hover {
    opacity: .7;
}

.loader {
    position: absolute;
    height: fit-content;
    width: 100%;
    top: 0;
}

.loader div {
    height: 5px;
    background-color: #ECE4B7;
    transition: all ease 1s;
}

.soundSwitch {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #02020B;
    background-color: #ECE4B7;
    border-radius: 2px;
    border: none;
    padding: 3px;
    font-family: "Lato", sans-serif;
}
